<div id="Titulo_inicio"> 
    <h1>Hola <%=p1 %>, ayudanos a crear y resolver dudas</h1>
</div>

<form action="busqueda" method="GET">
    <label>Busqueda de preguntas:</label>
    <input type="text" name="busqueda" id="busqueda">
    <input class="Boton" type="submit" value="buscar"/>
</form>

<style>
    div{
        margin: 1rem;
        padding: 1rem;
        /* IMPORTANTE */
        text-align: center;
        font-size: x-large;
    }
    form{
        margin: 1rem;
        padding: 1rem;
        /* IMPORTANTE */
        text-align: center;
    }

</style>


